{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="small-12 columns text-center" id="current-video-submitter">
                        <span class="fa fa-spinner fa-pulse"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns text-center">
                        <h1 id="current-video-title"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="row">
            <div class="small-12 columns">
                <div class="panel text-center">
                    <div id="player"></div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="small-12 columns">
            <div id="queue-container" class="panel">
                <h3 class="text-center">Liste d'attente</h3>
                <button class="full-width" id="add-video-button" disabled="disabled"><span class="fa fa-spinner fa-pulse"></span></button>
                <table id="queue" class="full-width scrollable-y">
                    <thead>
                    <tr>
                        <th class="text-center">Utilisateur</th>
                        <th>Titre</th>
                    </tr>
                    </thead>
                    <tbody id="queue-items">
                    <tr>
                        <td colspan="4" class="text-center"><span class="fa fa-spinner fa-pulse"></span></td>
                    </tr>
                    </tbody>
                </table>

                <div id="add-video-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
                    <h2>Ajouter une vidéo</h2>

                    <p class="lead">
                        <span class="fa fa-warning"></span> La vidéo ne doit pas dépasser 6 min.<br/>
                        <span class="fa fa-warning"></span> Une seule vidéo par personne dans la file d'attente
                    </p>

                    <label>Adresse de la vidéo Youtube<input type="url" id="add-video-url" placeholder="Exemple: https://www.youtube.com/watch?v=dQw4w9WgXcQ"/></label>
                    <button id="add-video-submit">Envoyer</button>

                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
                <div id="result-add-video-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
                    <h2 id="result-add-video-modal-title">Ajouter une vidéo</h2>

                    <div class="alert-box text-center" id="result-add-video-modal-message"></div>
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="alert-box notice">
                <h5><span class="fa fa-fw fa-info"></span> Pour toutes remarques ou suggestions, n'hésitez pas à venir voir Raphael De Freitas ;)</h5>
            </div>
        </div>
    </div>

    {#<div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="small-4 columns text-center">
                        <span class="fa fa-thumbs-o-up"></span> 500
                    </div>
                    <div class="small-4 columns text-center">
                        <span class="fa fa-repeat"></span> 200
                    </div>
                    <div class="small-4 columns text-center">
                        <span class="fa fa-thumbs-o-down"></span> 100
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="small-4 columns text-center">
                        <button class="full-width">
                            <span class="fa fa-thumbs-o-up"></span> J'aime<br/>
                            <span style="font-size: 14px">Réinsérer la vidéo en fin de liste après la lecture</span>
                        </button>
                    </div>
                    <div class="small-4 columns text-center">
                        <button class="full-width">
                            <span class="fa fa-repeat"></span> Répéter<br/>
                            <span style="font-size: 14px">Relire la vidéo après la lecture</span>
                        </button>
                    </div>
                    <div class="small-4 columns text-center">
                        <button class="full-width">
                            <span class="fa fa-thumbs-o-down"></span> J'aime pas<br/>
                            <span style="font-size: 14px">Passer la vidéo</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

{% endblock %}

{% block javascripts %}
    <script src="http://www.youtube.com/player_api"></script>
    <script>

        var add_video_button = $("#add-video-button");
        var add_video_url = $("#add-video-url");
        var add_video_submit = $("#add-video-submit");
        var queue_items = $('#queue-items');
        var add_video_modal = $("#add-video-modal");
        var result_add_video_modal = $("#result-add-video-modal");
        var result_add_video_modal_title = $("#result-add-video-modal-title");
        var result_add_video_modal_message = $("#result-add-video-modal-message");
        var current_video_submitter = $("#current-video-submitter");
        var current_video_title = $("#current-video-title");

        function setLoadingAddVideoButton() {
            add_video_button.html('<span class="fa fa-spinner fa-pulse"></span> En cours...');
            add_video_button.attr("disabled", "disabled");
        }
        function setReadyAddVideoButton() {
            add_video_button.html('<span class="fa fa-plus"></span> Ajouter une vidéo');
            add_video_button.removeAttr("disabled");
        }

        function addVideo(url) {
            $.post("{{ path("app_video_add") }}", {url: url}).success(function (data) {
                console.log(data);
                setReadyAddVideoButton();
                result_add_video_modal_message.attr("class", "");
                result_add_video_modal_message.addClass("alert-box");
                result_add_video_modal_message.addClass(data.type);
                result_add_video_modal_message.text(data.message);
                result_add_video_modal.foundation("reveal", "open");
            });
        }

        {% if is_granted("ROLE_SUPER_ADMIN") %}
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            event.target.setVolume(0);
            event.target.setPlaybackQuality("hd720");
        }

        function onPlayerStateChange(event) {
            if (event.data === YT.PlayerState.ENDED) {
                $.get("{{ path("app_player_finish") }}").success(function (data) {
                    player.loadVideoById(queue[0]);
                    queue.shift();
                });
            }
        }
        {% endif %}

        var queue = [];
        var loadQueueLock = false;
        function loadQueue() {
            if (loadQueueLock)
                return;
            loadQueueLock = true;
            $.get("{{ path("app_player_queue") }}").success(function (data) {
                queue_items.html("");
                queue = [];
                for (i = 0; i < data.length; i++) {
                    queue_items.append('<tr><td class="text-center"><img alt="Avatar" src="https://cdn.local.epitech.eu/userprofil/trombiview/' + data[i].user.login + '.jpg" style="height: 30px" title="' + data[i].user.full_name + ' (' + data[i].user.login + ')"/></td><td>' + data[i].youtube.title + '</td></tr>');
                    queue.push(data[i].youtube.video_id);
                }
                loadQueueLock = false;
            });
        }

        var loadCurrentVideoLock = false;
        function loadCurrentVideo() {
            if (loadCurrentVideoLock)
                return;
            loadCurrentVideoLock = true;
            $.get("{{ path("app_player_current") }}").success(function (data) {
                current_video_title.text(data.youtube.title);
                current_video_submitter.html('<img alt="Avatar" src="https://cdn.local.epitech.eu/userprofil/trombiview/' + data.user.login + '.jpg"/><br/><h3>' + data.user.full_name + '</h3>');
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                if (player.getPlayerState() == YT.PlayerState.CUED || player.getPlayerState() == YT.PlayerState.ENDED) {
                    player.loadVideoById(data.youtube.video_id);
                    queue.shift();
                }
                {% endif %}
                loadCurrentVideoLock = false;
            });
        }

        $(document).ready(function () {

            setReadyAddVideoButton();

            add_video_submit.click(function () {
                var url = add_video_url.val();
                add_video_url.val("");
                addVideo(url);
                setLoadingAddVideoButton();
                add_video_modal.foundation("reveal", "close");
            });

            add_video_button.click(function () {
                add_video_modal.foundation("reveal", "open");
            });

            setInterval(function () {
                loadQueue(0);
            }, 1000);

            setInterval(function () {
                loadCurrentVideo();
            }, 2000);

            setInterval(function() {
                loadCurrentVideoLock = false;
                loadQueueLock = false;
            }, 20000);

        });

    </script>
{% endblock %}